html{
    box-sizing: border-box;
}
*,
*::after,
*::before{
    box-sizing: inherit;
}
a{
    text-decoration: none;
    color: inherit;
}
ul{
    list-style: none;
}
body, html{
    font-family: 'Roboto', sans-serif;
    height: 100%; /* Позволяет увеличивать высоту при необходимости */
}
.wrapper{
    min-height: 100%;
    display:flex;
    flex-direction: column;
}
main{
    flex: 1 1  auto;
    background-color: #fdfdfd; /* Белый фон */
}
header{
    position: fixed;
    z-index: 20;
    width: 100%;
    left:0;
    top:0;
    background-color: #fff; /* Белый фон */
}
/* Стили для модального окна "Заказать звонок" */
header .header__inner{
    max-width: 1400px;
    margin: 0 auto;
}
header .top-bar__inner{
    max-width: 1400px;
    margin: 0 auto;
}
footer .footer__container{
    max-width: 1400px;
}
.container .nav{
    margin-right: auto; /* Перемещаем ссылки ближе к выбору города */
}
.nav .client__nav{
    gap:30px;
}
.nav .client__nav a{
    font-size: 14px;
    color:#636363;
}
.modal{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    top: 0;
    left: 0;
    z-index: 1000;
}
.modal_select_city{
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    top: 0;
    left: 0;
}
.modal_select_body{
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
}
.modal_select_content{
    position: relative;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
}
.select_city{
    display: flex;
    flex-direction: column;
    gap: 15px; /* Расстояние между элементами */
}
.modal.show { /* Класс, который покажет модальное окно */
    display: block;
}
.modal_body{
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
}
.modal-content{
    position: relative;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
}
.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}
.callback-form {
    display: flex;
    flex-direction: column;
    gap: 15px; /* Расстояние между элементами */
}

.callback-form label {
    font-weight: bold;
    margin-bottom: 5px;
}

.callback-form input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 12px;
}

.callback-form button, .select_city button {
    padding: 10px;
    font-size: 16px;
    background-color: #A9A6A6;
    color: #fff;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.callback-form button:hover {
    background-color: #f86619;
}
.select_city button:hover {
    background-color: #f86619;
}
.city {
    appearance: none; /* Убирает стандартный стиль браузера */
    border: none; /* Убирает рамку */
    background: none; /* Убирает фон */
    font-size: 16px; /* Увеличиваем размер шрифта */
    padding: 10px; /* Внутренний отступ */
    border-radius: 4px; /* Закругленные углы */
    color: #333; /* Цвет текста */
    background-color: #f0f0f0; /* Светлый фон */
    cursor: pointer; /* Указатель при наведении */
    width: 100%; /* Занимает всю ширину контейнера */
    box-sizing: border-box; /* Учитывает padding в ширине */
}

/* Стилизация стрелки */
.city {
    background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 6"%3E%3Cpath fill="%23333" d="M5 6L0 0h10L5 6z"/%3E%3C/svg%3E');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 12px;
    padding-right: 30px; /* Пространство для стрелки */
}

/* Стили при наведении */
.city:hover {
    background-color: #eaeaea; /* Более светлый фон */
}

/* Стили для опций */
.city option {
    font-size: 16px; /* Размер шрифта */
    color: #333; /* Цвет текста */
}
.container{
    padding-left: 30px;
    padding-right: 30px;
    max-width: 1920px;
    margin: 0 auto;
}
.header__container{
        padding-left: 30px;
    padding-right: 30px;
    max-width: 1920px;
    margin: 0 auto;
}
/* Стили для tob-bar  */
.top-bar__inner, .top-bar__mobile{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.line_list{
    display:flex;
    gap: 0 30px;
    margin-right: 150px;
}
.contact{
    display: flex;
    gap: 0 20px;
    font-size: 14px;
}
.cities {
    font-size: 14px;
    padding: 5px; /* Внутренний отступ */
    border: none; /* Убираем рамки */
    border-radius: 4px; /* Скругленные края */
    appearance: none; /* Убираем стандартный вид стрелки */
    -webkit-appearance: none; /* Для Safari */
    -moz-appearance: none; /* Для Firefox */
    cursor: pointer; /* Указатель при наведении */
}

/* Стили при наведении */
.cities:hover {
    background-color: #eaeaea; /* Более светлый фон */
}
.cities:focus {
    outline: none; /* Убираем стандартный фокус */
}
.cities {
    background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 6"%3E%3Cpath fill="%23333" d="M5 6L0 0h10L5 6z"/%3E%3C/svg%3E');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 12px;
    padding-right: 30px; /* Пространство для стрелки */
}
.contact a{
    color:#636363;
    transition: color 0.3s ease; /* Анимация изменения цвета за 0.3 секунды */
}
.contact a:hover{
    color: #f86619;
}
/* main header navigation */ 
.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 8px;
    padding-bottom: 8px;
}
.catalog{
    display: flex;
    align-items: center;
}
.logo img{
    width: 200px;
}
/* Общий стиль для навигации */


/* Общий стиль для навигации */
.nav {
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
}

.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 0 12px;
}
.client__nav {
    display: flex;
    gap: 20px; /* Расстояние между элементами */
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}
.client__nav__mobile {
    display: none;
    gap: 20px; /* Расстояние между элементами */
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}
.nav > ul > li {
    display: inline-block;
    position: relative;
}

.nav a {
    font-family: 'Nunito', sans-serif;
    text-decoration: none;
    color: #000; /* Цвет текста ссылок */
    display: block;
    font-weight: 500;
    font-size: 17px;
    white-space: nowrap;
    transition: color 0.3s ease;
}

.nav a:hover {
    color: #f86619; /* Оранжевое выделение текста при наведении */
}

/* Скрываем подменю с использованием opacity и transform */
.catalog_submenu {
    opacity: 0;
    transform: translateY(-10px); /* Сдвиг вверх для эффекта появления */
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 10;
    min-width: 200px;
    pointer-events: none; /* Отключаем возможность взаимодействия */
    transition: opacity 0.3s ease, transform 0.3s ease;
    border-radius: 8px; /* Закругленные углы для выпадающего блока */
    font-size: 16px;
}

.catalog_submenu li {
    display: block;
    margin-bottom: 5px; /* Увеличивает расстояние между пунктами */
}
.catalog_submenu li:last-child {
    margin-bottom: 0;
}

.catalog_submenu a {
    font-weight: 500; /* Полужирный текст */
    padding: 8px; /* Уменьшенный отступ */
    color: #333; /* Цвет текста ссылок в подменю */
    transition: background-color 0.3s ease, color 0.3s ease; /* Плавная анимация */
}

.catalog_submenu a:hover {
    color: #f86619; /* Оранжевый цвет текста при наведении */
    background-color: #f3f3f3; /* Легкое серое свечение при наведении */
}

/* Показ подменю с плавной анимацией */
.catalog_category:hover > .catalog_submenu {
    opacity: 1;
    transform: translateY(0); /* Возвращаем на место */
    pointer-events: auto; /* Включаем возможность взаимодействия */
}







.user-action-container{
    display: flex;
    align-items: center;
    gap: 10px;
}
.icon-link {
    position: relative;
    display: flex; /* Используем flexbox для вертикального выравнивания */
    flex-direction: column; /* Вертикальное размещение элементов */
    align-items: center; /* Центрируем содержимое по горизонтали */
    padding: 10px;
    border-radius: 25%; /* Чтобы блок был округлым */
    transition: background-color 0.3s ease; /* Плавный переход цвета */
    text-decoration: none; /* Убираем подчеркивание */
    color: #333; /* Цвет текста */
}

.icon-link:hover {
    background-color: rgba(255, 165, 0, 0.2); /* Оранжевый цвет с прозрачностью при наведении */
}

.counter {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #f86619; /* Цвет для счетчика */
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 10px;
}
/* Стили для подписи */

/* Опционально: Эффект при наведении на подпись */
.icon-link:hover .icon-label {
    color: #f86619; /* Цвет текста для выделения при наведении */
}
.user-action-container .fa{
    font-size: 18px;
}
/* Разделитель после "Телевизоры" */
.li-devider{
    padding-left: 40px;
}
@media (max-width: 1690px) {
    .catalog a{
        font-size: 16px;
    }
    .catalog, .client__nav a{
        font-size: 16px;
    }
    .logo img{
        width: 150px;
    }
    nav .fa{
        font-size: 14px;
    }
}





/* Адаптивная*/
/* Бургер-меню */
.header__burger {
    display: none; /* Скрываем бургер по умолчанию */
    cursor: pointer;
    z-index: 200; /* Поверх всех элементов */
    position: relative;
    align-items: center;
    width: 30px;
    height: 18px;
}

.header__burger span{
    width: 100%;
    height: 2px;
    background-color: #333; /* Цвет полосок бургера */
    transform: scale(1);
}
.header__burger::before,
.header__burger::after{
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #333; /* Цвет полосок бургера */
    transition: all 0.3s ease 0s;
}
.header__burger::before{
    top: 0;
}
.header__burger::after{
    bottom: 0;
}
.header__burger.active span{
    transform: scale(0);
}
.header__burger.active::before{
    top:50%;
    transform: rotate(-45deg) translate(0, -50%);
}
.header__burger.active::after{
    bottom: 50%;
    transform: rotate(45deg) translate(0, 50%);
}

/* Меню */

.open{
    display: flex !important;
}
/* Адаптивные стили */


.mobile-menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #fff; /* Белый фон */
    padding: 20px;
    box-sizing: border-box;
    z-index: 200; /* Поверх всех элементов */
    transition: all 0.3s ease 0s;
}

/* Показываем меню при активном классе */
.mobile-menu.active {
    left:0; /* Сдвигаем в видимую область */
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Выравниваем по верху */
    overflow-y: auto; /* Прокрутка для длинного меню */
    -webkit-overflow-scrolling: touch; /* Плавная прокрутка на мобильных */
}

/* Стили для элементов меню */
.mobile-menu .mobile-list {
    list-style: none;
    padding: 0;
    padding: 120px 0 0;
}

.mobile-menu ul li {
    margin-bottom: 20px;
    font-size: 18px;
    text-align: left;

}


/* Скрываем вложенные списки по умолчанию */
.mobile-menu ul ul {
    max-height: 0; /* Высота 0, чтобы скрыть */
    opacity: 0; /* Прозрачность 0 */
    overflow: hidden; /* Скрываем содержимое */
    margin-left: 20px; /* Отступ для вложенных пунктов */
    margin-top: 10px;
    transition: all 0.3s ease; /* Плавный переход */
    transform: translateY(-10px); /* Сдвигаем вверх */
}

/* Показываем вложенные списки при активном классе */
.mobile-menu ul ul.active {
    max-height: 100%; /* Ограничиваем высоту, достаточно для всех элементов */
    opacity: 1; /* Делаем видимым */
    transform: translateY(0); /* Сдвигаем вверх */
}


/* Стили для ссылок */
.mobile-menu ul li a {
    font-size: 16px;
    color: #333;
    text-decoration: none;
    font-weight: bold;
    width: 80%;
}

.mobile-menu ul li a:hover {
    color: #000;
}






.mobile__container {
    width: 100%;
    background-color: #f9f9f9;
    padding: 10px;
    display: none;
    flex-direction: column;
}

.mobile__top-bar {
    width: 100%;
}

.mobile__top-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.mobile__line-menu {
    display: flex;
    align-items: center;
}

.mobile__line-menu i {
    margin-right: 8px;
    color: #555;
}

.mobile__cities {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
}

.mobile__actions {
    display: flex;
    align-items: center;
    gap: 15px; /* Расстояние между иконками */
}

.mobile__actions i {
    color: #555;
    font-size: 18px;
}

.mobile__bottom-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
}

.mobile__logo img {
    max-width: 120px;
}

.mobile__user-action-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.mobile__icon-link {
    position: relative;
    display: flex;
    align-items: center;
    color: #333;
    text-decoration: none;
}

.mobile__counter {
    position: absolute; /* Позиционирование относительно родителя */
    top: -5px; /* Смещение чуть выше иконки */
    right: -5px; /* Смещение чуть правее иконки */
    background-color: #f86619; /* Цвет для счетчика */
    color: white; /* Цвет текста */
    border-radius: 50%; /* Круглая форма */
    padding: 2px 4px; /* Уменьшенные внутренние отступы */
    font-size: 8px; /* Меньший размер текста */
    font-weight: bold; /* Жирный шрифт для читаемости */
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 12px; /* Минимальная ширина */
    height: 12px; /* Высота для круга */
    line-height: 1; /* Убираем лишний интервал внутри текста */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Тень для визуального акцента */
}

/*footer style */
footer {
    width: 100%;
    background: #333;
    color: #ffffff;
    padding: 20px 0;
    box-shadow: 0px -3px 10px rgba(0, 0, 0, 0.3);
}





.footer__nav{
    display: flex;
    justify-content: space-between;
    justify-items: center;
}
.footer__nav ul{
    justify-content: space-between;
    padding: 0;
    margin: 0;
}
.footer__container{
    padding-left: 30px;
    padding-right: 30px;
    max-width: 1920px;
    margin: 0 auto;
}
.footer__nav .topic{
    padding-bottom: 10px;
}
.footer__nav .topic span{
    color: #f86619;
    font-size: 18px !important;
    font-weight: 600;
}
.footer__nav a{
    font-size: 14px;
}
.footer__info li{
    padding-bottom: 10px;
}
.footer__info a{
    color: #ffffff;
    transition: all 0.3s ease 0s;
}
.footer__info a:hover{
    color: #f86619;
}
.right__nav ul{
    margin-right: 100px;
}
.footer__catalog li{
    padding-bottom: 10px;
}
.footer__catalog a{
    color: #ffffff;
    transition: all 0.3s ease 0s;
}
.footer__catalog a:hover{
    color: #f86619;
}
.right__nav{
    display: flex;
}

.left__container {
    display: flex;
    flex-direction: column;
    border-radius: 8px; /* Скругленные углы */

}
.contact_info, .email_follow_block, .left_topic{
    margin-bottom: 15px;
}
.left_topic, .phone_topic{
    color: #f86619;
    font-size: 18px !important;
    font-weight: 600;
}

.contact_info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.highlight-link {
    color: #ffffff; /* Серый цвет для текста */
    text-decoration: none;
    transition: color 0.3s ease;
}

.highlight-link:hover {
    color: #f86619; /* Цвет текста при наведении */
}

.email_follow_block form {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input_email {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 8px; /* Умеренно закругленные углы */
    outline: none;
    transition: border-color 0.3s ease;
    width: 100%;
}

.input_email:focus {
    border-color: #f86619; /* Цвет границы при фокусе */
}

/* Кнопка для отправки формы */
.email_follow_block button {
    position: absolute;
    right: 0.1em;
    background-color: #fff; /* Основной цвет */
    border: none;
    padding: 6px 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    bottom: 3px;
}


.email_follow_block button:active {
    transform: scale(1); /* Уменьшение эффекта при нажатии */
}

/* Стили для иконок в соцсетях */
.media {
    display: flex;
    gap: 20px;
}

.media__icon {
    width: 24px;
    height: 24px;
    transition: transform 0.3s ease;
    fill: #ffffff;
}

.media__icon:hover {
    transform: scale(1.2); /* Увеличение при наведении */
}
.media span, .email_follow_block label{
    font-size: 14px;
    color: #ffffff;
}

/* Адаптивный теелфон*/
.mobile_footer a {
    color: #ffffff;
    text-decoration: none;
}

.mobile_footer a:hover {
    text-decoration: underline;
}

/* Скрываем меню по умолчанию с анимацией */
.mobile_footer_info {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    opacity: 0; 
    max-height: 0; /* Начальная высота 0 */
    overflow: hidden; /* Скрываем содержимое при уменьшении высоты */
    transition: max-height 0.3s ease-out, opacity 0.3s ease-out; /* Анимация высоты и прозрачности */
    opacity: 0; 
}

/* Видимое меню с анимацией */
.mobile_footer_info.active {
    max-height: 500px; /* Устанавливаем достаточную высоту для содержимого */
    opacity: 1; /* Прозрачность 1 */
    transition: max-height 0.3s ease-in, opacity 0.3s ease-in; /* Анимация для видимости */
}

/* Расстояние между элементами */
.mobile_footer_info li {
    margin-bottom: 15px; /* Отступ между элементами */
}

/* Кнопка */
.mobile_button_info {
    background-color: #444;
    border: 1px solid #555;
    padding: 10px 15px;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
    border-radius: 5px; /* Скругленные края */
    width: auto; /* Убираем ширину на весь контейнер */
    display: inline-block; /* Делаем кнопку компактной */
}

/* Тема связи */
.mobile_bottom_topic span {
    font-size: 16px;
    font-weight: bold;
}
.mobile_email_follow{
    position: relative;
}
/* Блок для email */
.mobile_email_follow label {
    font-size: 14px;
    margin-bottom: 10px;
    display: block;
}

.mobile_input_email{
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #555;
    border-radius: 5px;
    background: #ffffff;
}

.mobile_input_email::placeholder {
    color: #888;
}
.mobile_media{
    padding-top: 10px;
}
/* Иконки соцсетей */
.mobile_media_icon {
    width: 24px;
    height: 24px;
    margin: 5px;
}
.mobile_email_follow button {
    position: absolute;
    right: 1.43em;
    background-color: #fff; /* Основной цвет */
    border: none;
    padding: 6px 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    bottom: 3px;
}
.mobile_footer_contact{
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}
.mobile_footer_contact span{
    font-size: 14px !important;
    color: #ffffff;
    font-weight: 600;
}
/* Контейнер навигации */
.mobile_footer_nav {
    display: none; /* Скроем навигацию по умолчанию */
}

.search-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4); /* Затемненный фон */
    z-index: 1000; /* Поверх всех элементов */
}

/* Показать модальное окно */
/* Анимация появления */
@keyframes slideDown {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Анимация закрытия (уезжает вверх) */
@keyframes slideUp {
    from {
        transform: translateY(0);
        opacity: 1;
    }
    to {
        transform: translateY(-100%);
        opacity: 0;
    }
}

.search-modal.show {
    display: block;
    animation: fadeIn 0.5s ease-out;
}

/* Тело модального окна */
.search-modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    max-width: 100%;
    padding: 20px;
    margin-top: 0;
    background: #fff;
    box-sizing: border-box;
    border: 2px solid #f86619; /* Добавляем тонкую рамку */
    border-radius: 10px; /* Скругленные углы */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Лёгкая тень */
}

/* Контент внутри модального окна */
.search-modal-content {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

/* Поле ввода */
.search-input {
    width: calc(70% - 40px);
    padding: 10px;
    margin: 0 20px;
    border: 1px solid #ccc;
    border-radius: 20px; /* Скруглённое поле */
    font-size: 16px;
    transition: all 0.3s ease;
}

.search-input:focus {
    border-color: #f86619;
    outline: none;
    box-shadow: 0 0 8px rgba(248, 102, 25, 0.5); /* Эффект фокуса */
}

/* Кнопка поиска */
.search-btn {
    padding: 10px 20px;
    background-color: #f86619;
    color: white;
    border: none;
    border-radius: 20px; /* Скруглённая кнопка */
    cursor: pointer;
    font-size: 16px;
    margin: 10px 0;
    transition: transform 0.2s ease;
}

.search-btn:hover {
    transform: scale(1.1); /* Увеличение при наведении */
    background-color: #e65a00;
}

/* Кнопка закрытия окна */
.search-close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 30px;
    color: #aaa;
    cursor: pointer;
    transition: color 0.3s ease;
}

.search-close:hover {
    color: #f86619; /* Оранжевый цвет при наведении */
}


.search-modal-body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 5px;
    background: #f86619;
    border-radius: 10px;
    margin-bottom: 10px;
}


/* Результаты поиска */
.search-results {
    width: calc(100% - 40px); /* Учитываем отступы */
    margin: 10px 20px; /* Отступ от краев */
    display: flex;
    flex-direction: column;
    gap: 15px; /* Промежуток между результатами */
    overflow-y: auto; /* Добавляем прокрутку, если много результатов */
    max-height: calc(100vh - 200px); /* Ограничение по высоте */
}

/* Стили для одного результата */
.search-result-item {
    display: flex;
    align-items: center;
    gap: 15px; /* Промежуток между картинкой и текстом */
    padding: 10px;
    border: 1px solid #eee; /* Граница результата */
    border-radius: 5px;
    background: #f9f9f9;
    transition: background 0.3s ease;
    cursor: pointer;
}

.search-result-item:hover {
    background: #e9ecef;
}

/* Картинка результата */
.search-result-item img {
    width: 100px;
    height: 100px;
    border-radius: 5px;
    object-fit: contain;
}

/* Название товара */
.search-result-item .result-name {
    font-size: 16px;
    font-weight: 500;
    color: #333;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.accordion-menu .accordion-content {
    display: none;
    list-style: none;
    padding: 0;
}

.accordion-menu .accordion-content.active {
    display: block;
}

/* Адаптивность для мобильных устройств */
@media (max-width: 768px) {
    .search-modal-content {
        padding: 10px;
    }

    .search-input {
        font-size: 14px;
    }

    .search-btn {
        font-size: 14px;
    }

    .search-results {
        gap: 10px;
    }

    .search-result-item img {
        width: 40px;
        height: 40px;
    }

    .search-result-item .result-name {
        font-size: 14px;
    }
}
@media (max-width: 1366px) {
    nav .catalog {
        display: none;
    }
    .header__burger{
        display: flex;
    }
    .catalog, .client__nav a{
        font-size: 14px;
    }
    .header__burger.active{
        margin-left: auto;

    }
    header .container{
        padding-bottom: 10px;
    }
    .mobile-menu ul li a {
        font-size: 20px;
    }
    body.lock{
        overflow: hidden;
    }
    .nav ul li:nth-child(9)::after {
        display: none; /* Убирает псевдоэлемент */
    }
    .client__nav__mobile{
        display: flex;
    }
    .client__nav{
        display: none;
    }
}
@media (max-width: 1000px) {

    nav .client__nav, .client__nav__mobile{
        display: none;
    }
    .logo img{
        width: 250px;
    }
    nav .fa{
        font-size: 18px;
    }
    .footer__catalog{
        display: none;
    }
}
@media (max-width: 700px) {
    
    nav .client__nav{
        display: none;
    }
    .logo img{
        width: 100px;
    }
    nav .fa{
        font-size: 18px;
    }
    header .line-menu span{
        display: none;
    }
    header .callback span{
        display: none;
    }
    header .working-hours{
        display: none;
    }
    header .mobile__container{
        display: flex;
    }
    .mobile-menu ul li a {
        font-size: 14px;
    }
    .footer_nav{
        display: none;
    }
    .mobile_footer_nav {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 15px; /* Отступы между элементами */
    }

    .mobile_bottom_container {
        margin-top: 20px;
    }
    .footer__nav{
        display: none;
    }

}
